body {
  background-color: #274F87;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

img {
  margin-left: 18%;
}

.container {
  align-items: center;
  align-content: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.areaCampo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  font-size: 15px;
  min-height: 7vh;
  padding: 0 25px;
  width: 100%; 
}

button {
  background: #fff000;
  border: none;
  color: #274F87;
  font-weight: bold;
  padding: 10px 65px;
  text-transform: uppercase;
  margin-left: 19%;
}